{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-8 text-center">
            <div class="mx-auto">
                {% if user.is_authenticated %}
                    <p class="lead mb-4 display-5 fw-bold">Clique Para Iniciar As Anotações.</p>
                    <div class="d-flex justify-content-center gap-3">
                        <a href='{% url "avaliacao" %}' class="btn btn-success btn-lg px-4"><i class="bi bi-person-fill"></i> Iniciar</a>          
                    </div>
                {% else %}
                    <p class="lead mb-4 display-3 fw-bold">Ferramenta de Anotação Manual de Emoções</p>
                    {% comment %} <p class='display-6 fw-bold'>Ferramenta de Anotação Manual de Emoções</p> {% endcomment %}
                    <div class="d-flex justify-content-center gap-3">
                        <a href='{% url "login" %}' class="btn btn-success btn-lg px-4"><i class="bi bi-person-fill"></i> Login</a>          
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
